body {
    background:linear-gradient(teal, pink, cyan);
}

h1 {
    font-size: 36px; 
    font-family: serif
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}

.li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}

h2, h3 {
    font-size: 35px; 
    font-family: 'Times New Roman';
    color: #3857c6; 
}

p {
    line-height: 1.8; 
}

img {
    border: 5px solid #e74c3c; 
    padding: 20px; 
    margin: 30px;
    border-radius: 25px;
}


li {
    display: inline-block; 
    margin-left: 50px; 
}

